# ----------------------------
# MagAuto Enviroments
# ----------------------------

# Backend
ENV=prod
BACKEND_PORT=9786
WS_SCRCPY_PORT=3200
BACKEND_ADMIN_KEY=BACKEND_ADMIN_KEY
ADMIN_TOKEN_EXPIRE_LIMIT=1  # Hours
BACKEND_FLASK_SECRET_KEY=BACKEND_FLASK_SECRET_KEY
BACKEND_DEV_API_KEY=BACKEND_DEV_API_KEY

CORS_ORIGINS=http://localhost:9790
ANDROID_ADB_SERVER_PORT=5038
ADB_PATH="/usr/bin/adb"
APPIUM_PATH="C:\\Users\\Magician\\AppData\\Roaming\\npm\\appium.cmd"
ANDROID_PLATFORM_TOOL_PATH="C:\\Android\\platform-tools"
ANDROID_HOME="C:\\Android"
ANDROID_SDK_ROOT="C:\\Android"
ADB_VENDOR_KEYS_HOST="/home/glitch/adb_keys_backup"
ADB_VENDOR_KEYS_CONTAINER="/home/appuser/.android"
ANDROID_ADB_KEY_PATH="/home/appuser/.android"
NETWORK_ADDRESS='127.0.0.1'
ADB_PORT=5038

# CLERK Authentications 
CLERK_SECRET_KEY=CLERK_SECRET_KEY...
CLERK_ISSUER=CLERK_ISSUER
CLERK_JWKS_URL=CLERK_JWKS_URL

# Frontend
FRONTEND_PORT=9787
BACKEND_API_URL=http://localhost:9786
BACKEND_HOST=http://0.0.0.0
FRONTEND_API_BASE_URL=/api
VITE_CLERK_PUBLISHABLE_KEY=VITE_CLERK_PUBLISHABLE_KEY
VITE_NETWORK_BASE_IP="192.168.9"

# ----------------------------
# Postgres Enviroments
# ----------------------------

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=magauto
POSTGRES_USER=maguser
POSTGRES_PASSWORD=magpass

# --------------------------------
# Docker Container Managements
# --------------------------------

# ----------------------------
# Apps Automation Enviroments
# ----------------------------

YT_MUSIC_PACKAGE_NAME="com.google.android.apps.youtube.music"
YT_MUSIC_ACTIVITY_NAME="com.google.android.apps.youtube.music.activities.MusicActivity"


BASE_WIDTH=1080
BASE_HEIGHT=2280
IS_OVERRIDE_RESOLUTION=true
BUTTONS_CENTERS="/home/magician/Desktop/MagSpot/bin/files/buttons_centers.json"

SCROLL_DOWN_LIMIT=20


SUBNET_BASE="192.168.1"
CONCURRENCY="200"
SCAN_TIMEOUT_MS="1000"



# ----------------------------
# Gemini Image Analyzer
# ----------------------------

GEMINI_API_KEY="API_KEY"

# ----------------------------
# Streamers Settings
# ----------------------------

DEFAULT_MAX_STREAMERS="10"
DEFAULT_PLAY_HOURS="10"
MAX_PLAY_HOURS="1.50"
MIN_PLAY_MINUTES="20"

# ----------------------------
# APPIUM POOL CONFIG
# ----------------------------
APPIUM_POOL_SIZE=20
APPIUM_BATCH_PERCENT=20
APPIUM_BATCH_WAIT=60
APPIUM_BUSY_DB_TIMEOUT=600

# ----------------------------
# GOOGLE CHROME APP
# ----------------------------
CHROME_PACKAGE_NAME="com.android.chrome"
CHROME_ACTIVITY_NAME='com.google.android.apps.chrome.Main'
GOOGLE_CHROME_DRIVER_HOST_PATH="/usr/lib/chromedriver_linux_145_0_7632"
GOOGLE_CHROME_DRIVER_CONTAINER_PATH="/home/androidusr/chromedriver"
